<!-- 这里是所有PC端的导航 -->
{% assign config = site.data.config %}
<nav id="sidebar" class="active fixed-left">
	<div class="sidebar-header" id="sidebarCollapse" style="cursor: pointer;" >
		<span>导览</span>
		<strong><i class="fa fa-bars"></i></strong>
	</div>

	<ul class="list-unstyled components">
		<li>
			<a href="/" >
				<i class="fas fa-home"></i>
				<span>主页</span>
			</a>
		</li>
		<li>
			<a href="#column" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle must-inactive">
			    <i class="fas fa-columns"></i>
			    <span>栏目</span>
			</a>
			<ul class="collapse list-unstyled" id="column">
			 	{% for item in site.data.column %}
			 		<li>
			 			<a href="{{ config.firstLevel | append: item.link }}" {% if page.url == item.link %}class="current"{% endif %}>
				    		{{ item.name }}
				    	</a>
			 		</li>
				{% endfor %}
			</ul>
		</li>
		<li>
			<a href="#groups" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle must-inactive">
			    <i class="fas fa-users"></i>
			    <span>托迷组织</span>
			</a>
			<ul class="collapse list-unstyled" id="groups">
				{% for item in site.data.groups %}
			 		<li>
			 			<a href="{{ config.firstLevel | append: config.groupLevel | append: item.link }}" {% if page.url == item.link %}class="current"{% endif %}>
				    		{{ item.name }}
				    	</a>
			 		</li>
				{% endfor %}
			</ul>
		</li>
		<li>
			<a href="{{ config.firstLevel | append: '/download.html' }}">
			    <i class="fas fa-download"></i>
			    <span>往期内容下载</span>
			</a>
		</li>
		<li>
			<a href="{{ config.firstLevel | append: '/about.html' }}" >
			    <i class="fas fa-sitemap"></i>
			    <span>关于我们</span>
			</a>
		</li>
		<li>
			<a href="{{ config.firstLevel | append: '/suggestions.html' }}" >
				<i class="fas fa-envelope"></i>
				<span>意见箱</span>
			</a>
		</li>
	</ul>
</nav>