<div class="container">
	<div class="row">
		{% for item in include.content %}
			<div class="col-sm-12">
				<a href="{{ item.link }}" class="card person-card">
				    <div class="row">
				    	<div class="col-sm-4 col-lg-2">
					    	<img class="card-img card-img-left" src="{{ item.avatar }}" alt="{{ item.name }}">
					    </div>
					    <div class="col-sm-8 col-lg-10">
						    <div class="card-body">
						    	<h6 class="card-title"><strong>{{ item.name }}</strong></h6>
						    	<span class="card-text">{{ item.intro }}</span>
						    </div>
						</div>
				    </div>
				</a>
			</div>		
		{% endfor %}
	</div>
</div>