@import 'navLeft', 'indexblog', 'indexnews';
@import 'blog', 'briefinfo';

@mixin themable($primary, $secondary, $primary-light, $secondary-light, $tertiary, $main-bg, $text-primary, $text-secondary) {
    body {
        font-family: '微软雅黑', Verdana, Arial, Helvetica, sans-serif;
        background: $main-bg;
        color: $text-primary;
    }

    h1 {
        font-size: 3em;
        font-weight: 600;
        text-align: center;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }

    h2 {
        font-size: 1.8em;
        font-weight: 600;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }

    p {
        font-family: '微软雅黑', Verdana, Arial, Helvetica, sans-serif;
        font-size: 1em;
        line-height: 1.7em;
    }

    li {
        font-weight: 300;
        a {
            color: $primary;
            text-decoration: none;
        }
        a:hover {
            color: $primary-light;
            text-decoration: underline;
        }
        strong {
            font-weight: 600;
        }
    }

    a, a:hover, a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }

    .wrapper {
        display: flex;
        width: 100%;
        align-items: stretch;
    }

    #content {
        width: 100%;
    }

    .carousel.slide {
        margin-bottom: 20px;
    }


    // Navigation
    @include navLeft($primary, $secondary, $primary-light, $secondary-light, $tertiary, $main-bg, $text-primary, $text-secondary);

    // Index Blog Card
    @include indexblog($primary, $secondary, $primary-light, $secondary-light, $tertiary, $main-bg, $text-primary, $text-secondary);

    // Index News
    @include indexnews($primary, $secondary, $primary-light, $secondary-light, $tertiary, $main-bg, $text-primary, $text-secondary);

    // Brief Info
    @include briefinfo($primary, $secondary, $primary-light, $secondary-light, $tertiary, $main-bg, $text-primary, $text-secondary);
}