@import 'default';
@import 'blog', 'about';


@include themable(#2a364e, #6a894e, #627295, #8da176, #dfebf9, #f2f2f2, #333, #f3f3f3);



﻿.glyphicon
{
    margin-right:4px !important; /*override*/
}

.pagination .glyphicon
{
    margin-right:0px !important; /*override*/
}

.pagination a
{
    color:#555;
}



.brief-intro .card {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-bottom: 30px;
}

.brief-intro-img {
    height: 200px;
    width: 100%; 
}

.brief-intro-text {
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.brief-intro-middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.brief-intro:hover .card {
  opacity: 0.3;
}

.brief-intro:hover .brief-intro-middle {
  opacity: 1;
}

.brief-intro-middle button {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.brief-intro-middle button:hover {
  background-color: darkgreen;
  color: white;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.3);
}

.important-event thead tr th:first-child {
    width: 20%;
    min-width: 150px;
}

.person-card {
    font-size: 0.9em;
    margin: 15px 0;
    border-radius: 10px;
    .card-img-left {
        border-radius: 10px 0px 0px 10px;
    }
    .card-body.person-card-body {
        margin-left: -25px;
    }
    .person-card-img{
        display: flex;
        align-items: center;
    }
}
.person-card:hover {
        opacity: 0.4;
        filter: sepia(50%) blur(1px);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.person-card-round {
    margin: 20px 0;
    font-size: 0.9em;
    border-radius: 9999px;
    .card-text {
        margin: 10px 10px 10px -15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .card-img-left {
        border-radius: 9999px 0px 0px 9999px;
    }
}
.person-card-round:hover {
        opacity: 0.4;
        filter: sepia(50%) blur(1px);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

hr.aboutus { 
  border : 0;
  height: 2px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}
hr.aboutus:after { 
  content: '\002735'; 
  display: inline-block; 
  position: relative; 
  top: -1.5em; 
  left: 1em;
  font-size: 2em; 
}